@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'ZV-Bold';
  src: url('/fonts/ZvazVedu_V2_Bold.ttf') format('woff2'),
       url('/fonts/ZvazVedu_V2_Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ZV-Display';
  src: url('/fonts/ZvazVedu_V2_Display.ttf') format('woff2'),
       url('/fonts/ZvazVedu_V2_Display.ttf') format('truetype');
}

@font-face {
  font-family: 'ZV-Regular';
  src: url('/fonts/ZvazVedu_V2_Regular.ttf') format('woff2'),
       url('/fonts/ZvazVedu_V2_Regular.woff2') format('truetype');
}

:root {
    --white-zv: #f2f2f2;
    --black-zv: #231f20;
    /* absolutní barvy pro použití jen u log (partnerů), která jsou také absolutně černé a bílé*/
    --black-abs: #000000; 
    --white-abs: #ffffff;
    --text: var(--black-zv);
    --background: var(--white-zv);
    --primary: #ffc300;
    --secondary: #ffd400;
    --tertiary: #FFAA00;
    --accent: #ffc300;

    --font: 'ZV-Regular', sans-serif;
    --spacer: 2rem 0;
    --inspacer: 2rem;
    --height-spacer: 2rem 0;
    --width-spacer: 2rem;
    --shadow: 0 0 1rem #00000024;
    --transition: all 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--black-zv);
        --text: var(--white-zv);
    }
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}
