.header-text {
    margin-block: 2rem;
    color: var(--accent);
}
header .primary-button {
    background-color: var(--accent);
    color: var(--background);
    font-size: 1.2rem;
}
header .primary-button:hover {
    color: var(--background);
}

#map svg {
    max-width: 100%;
}

#speakers-container {
    flex-direction: column !important;
    gap: 3rem;
}

.speaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    width: 100%;
}
.speaker-photo {
    width: 150px;
}
.speaker-body {
    display: flex;
    flex-direction: column;
}

.speaker-name {
    position: relative;
    display: block;
    width: fit-content;
    text-wrap: nowrap;
    margin-bottom: 1.2rem;
    z-index: 1;
    font-size: 1.5rem;
}
.speaker-name::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 7px;
    content: "";
    bottom: -3px;
    z-index: -1;
    transform: rotate(-3deg);
    border-radius: 5000px;
    background-color: var(--accent50);
}

.speaker-location {
    margin-bottom: 1rem;
    font-style: italic;
}
.speaker-lectures {
    list-style-position: outside;
    margin-left: 1rem;
}
.speaker-lectures a {
    color: var(--text);
}
.speaker-lectures a:hover {
    color: var(--accent);
}

.speaker-contacts {
    margin-top: 1.2rem;
}
.speaker-contacts a {
    color: var(--text);
    font-size: 1.5rem;
    margin-right: .7rem;
}
.speaker-contacts a:hover {
    color: var(--accent);
}

.speaker-bio {
    margin-top: 1.2rem;
}
.speaker-bio .secondary-button {
    background-color: var(--accent20);
}
.speaker-bio .secondary-button i {
    margin-left: .5rem;
    font-size: .8rem;
}
.speaker-bio-text {
    display: none;
    margin-top: 1.2rem;
    transition: var(--transition);
}

#speaker-filters {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}
#speaker-search {
    font-size: 1rem;
    padding: .5rem .8rem;
    border-radius: .5rem;
    background-color: var(--accent5);
    border: 1px solid var(--text50);
    width: 190px;
}
#speaker-search:focus {
    border-color: var(--accent);
}
.speaker-filters-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
#location-brno, #location-praha, #location-plzeň {
    appearance: none;
    background-color: var(--accent5);
    margin: 0;
    font: inherit;
    color: var(--text);
    width: 1.15em;
    height: 1.15em;
    margin-right: .3rem;
    margin-left: 1.2rem;
    border: 0.15em solid var(--text);
    border-radius: .3rem;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}
#location-brno {
    margin-left: 0;
}
#location-brno:checked, #location-praha:checked, #location-plzeň:checked {
    border-color: var(--accent);
}
#location-brno::before, #location-praha::before, #location-plzeň::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: .2rem;
    transform: scale(0);
    transition: 50ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--accent80);
}
#location-brno:checked:before, #location-praha:checked:before, #location-plzeň:checked:before {
    transform: scale(1);
}

/* MEDIA */

@media (max-width:750px) {
    header .layout-content {
        flex-direction: column;
    }
}
@media (max-width:540px) {
    .speaker-photo {
        width: 80px;
    }
    .speaker-name {
        font-size: 1.1rem;
        color: var(--accent);
        margin-bottom: .6rem;
    }
    .speaker-name::after {
        display: none;
    }
    .speaker-contacts {
        margin-top: .6rem;
    }
    .speaker-contacts a {
        font-size: 1.2rem;
        margin-right: .4rem;
    }
    .speaker strong:nth-of-type(2), .speaker-lectures {
        font-size: .8rem;
    }
    .speaker .secondary-button {
        font-size: .8rem;
        padding: .4rem .6rem;
    }
    .speaker-bio-text {
        font-size: .8rem;
    }
}
@media (max-width:480px) {
    #content .layout-content {
        padding-inline: 0;
    }
    #speaker-filters {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1rem;
    }
    .speaker-filters-container {
        width: 100%;
        justify-content: flex-start;
    }
    .speaker-search-container {
        width: 100%;
    }
}