{{define "styles"}}
    <link rel="stylesheet" href="/css/contact.css">
{{end}}
{{define "scripts"}}

{{end}}
{{define "main"}}
    <header class="layout-container">
        <div class="layout-content">
            <div class="header-body">
                <h1>Věda je naším motorem.</h1>
                <p class="header-text">Dohromady jsme se dali na střední, ale tím to rozhodně nekončí</p>
            </div>
            <picture>
                <source srcset="/media/imgs/base/mark.webp" media="(prefers-color-scheme: dark)">
                <img class="mark-img" src="/media/imgs/base/mark-blk.webp" alt="">
            </picture>
        </div>
    </header>
    <section class="layout-container" id="contact">
        <div class="layout-content">

            {{/* Loop through Sections (VEDENÍ, ORGANIZÁTOŘI) */}}
            {{ range .Site.Data.team }}
                
                {{/* Section Header */}}
                <h3 id="{{ .section | lower }}">{{ .section }}</h3>

                {{/* Members Loop */}}
                {{ range .members }}
                <div class="team-member team-{{ .team }}" id="{{ .alias }}">
                    <div class="team-member-photo">
                        <img src="{{ $.Site.BaseURL }}media/imgs/team/{{ .photo }}">
                    </div>
                    
                    <div class="team-member-info">
                        <strong>{{ .name }}</strong>
                        <p style="margin-bottom:.5rem" >{{ .position }}</p>

                        {{/* Email */}}
                        {{ if .mail }}
                        <p style="margin-bottom:.5rem">
                            <i class="fa-regular fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:{{ .mail }}">{{ .mail }}</a>
                        </p>
                        {{ end }}

                        {{/* Website (Optional) */}}
                        {{ if .web }}
                        <p>
                            <i class="fa-solid fa-globe" aria-hidden="true"></i>
                            <a href="https://{{ .web }}/">{{ .web }}</a>
                        </p>
                        {{ end }}

                        <div class="team-member-socials">
                            {{/* Instagram (Optional) */}}
                            {{ if .ig }}
                            <a href="{{ .ig }}">
                                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                            </a>
                            {{ end }}
                            
                            {{/* LinkedIn (Optional) */}}
                            {{ if .linkedin }}
                            <a href="{{ .linkedin }}">
                                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}

            {{ end }}
        </div>
    </section>

    <section class="layout-container" id="join-us">
        <div class="layout-content">
            <h4>Chceš přinést Zvaž vědu! i do svého města?</h4>
            <a href="/zapojte-se/pridej-se-k-nam" class="secondary-button">Přidej se k nám &rarr;</a>
        </div>
    </section>

    <section class="layout-container" id="actions">
        <div class="layout-content">
            <a href="https://discord.gg/XggNwnz5n8" target="_blank" id="actions-discord">
                <span>Staň se ambasadorem a sleduj náš Discord! <br><br> <i class="fa-brands fa-discord"></i></span>
            </a>
            <a href="https://instagram.com/zvaz.vedu?igshid=MzRlODBiNWFlZA==" target="_blank" id="actions-ig">
                <span>Nejnovější informace sleduj na našem Instagramu! <br><br> <i class="fa-brands fa-instagram"></i></span>
            </a>
        </div>
    </section>
{{end}}