{{define "styles"}}
    <link rel="stylesheet" href="/css/contact.css">
{{end}}
{{define "scripts"}}

{{end}}
{{define "main"}}
    <header class="layout-container" id="contact-header">
        <div class="layout-content">
            <div class="header-body">
                <h1>Věda je naším motorem.</h1>
                <p class="header-text">Dohromady jsme se dali na střední, ale tím to rozhodně nekončí</p>
            </div>
            <picture>
                <source srcset="/media/imgs/base/zv_kocka_45deg_zv-white.webp" media="(prefers-color-scheme: dark)">
                <img class="mark-img" src="/media/imgs/base/zv_kocka_45deg_zv-black.webp" alt="">
            </picture>
        </div>
    </header>
    <section class="layout-container" id="contact">
        <div class="layout-content">

            {{ $teams := slice "Vedení" "Administrativní oddělení" "PR oddělení" "HR oddělení" "Technické oddělení" "Obchodní oddělení" "Regionální koordinátoři" "Zakladatelé" }}
            
            {{ range $teamName := $teams }}
                
                {{/* Section Header */}}
                <h3 id="{{ $teamName | urlize }}">{{ $teamName }}</h3>

                {{/* Members Loop */}}
                {{ range $member := site.Data.team }}
                    {{ $memberTeams := default slice $member.team }}
                    {{ if in $memberTeams $teamName }}
                        {{ $posIndex := -1 }}
                        {{ range $idx, $t := $memberTeams }}
                            {{ if eq $t $teamName }}
                                {{ $posIndex = $idx }}
                            {{ end }}
                        {{ end }}
                        {{ $currentPosition := "" }}
                        {{ if ge $posIndex 0 }}
                            {{ $currentPosition = index (default slice $member.position) $posIndex }}
                        {{ end }}
                        
                <div class="team-member team-{{ $teamName | urlize }}" id="{{ $member.alias }}">
                    <div class="team-member-photo">
                        {{ if $member.photo }}
                        <img src="/media/imgs/team/{{ replace $member.photo ".webp" "-sm.webp" }}" srcset="/media/imgs/team/{{ replace $member.photo ".webp" "-sm.webp" }} 600w, /media/imgs/team/{{ replace $member.photo ".webp" "-md.webp" }} 1200w, /media/imgs/team/{{ replace $member.photo ".webp" "-hd.webp" }} 1920w" sizes="150px" alt="{{ $member.name }}">
                        {{ else }}
                        <div style="width: 150px; height: 150px; background: #eee; border-radius: 50%;"></div>
                        {{ end }}
                    </div>
                    
                    <div class="team-member-info">
                        <strong>{{ $member.name }}</strong>
                        <p style="margin-bottom:.5rem" >{{ $currentPosition }}</p>

                        {{/* Email */}}
                        {{ if $member.mail }}
                        <p style="margin-bottom:.5rem">
                            <i class="fa-regular fa-envelope" aria-hidden="true"></i>
                            <a href="mailto:{{ $member.mail }}">{{ $member.mail }}</a>
                        </p>
                        {{ end }}

                        {{/* Website (Optional) */}}
                        {{ if $member.web }}
                        <p>
                            <i class="fa-solid fa-globe" aria-hidden="true"></i>
                            <a href="https://{{ $member.web }}/">{{ $member.web }}</a>
                        </p>
                        {{ end }}

                        <div class="team-member-socials">
                            {{/* Instagram (Optional) */}}
                            {{ if $member.ig }}
                            <a href="{{ $member.ig }}">
                                <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                            </a>
                            {{ end }}
                            
                            {{/* LinkedIn (Optional) */}}
                            {{ if $member.linkedin }}
                            <a href="{{ $member.linkedin }}">
                                <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                            </a>
                            {{ end }}
                            
                            {{/* Discord (Optional) */}}
                            {{ if $member.discord }}
                            <a href="{{ $member.discord }}">
                                <i class="fa-brands fa-discord" aria-hidden="true"></i>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ end }}

            {{ end }}
        </div>
    </section>

    <section class="layout-container" id="join-us">
        <div class="layout-content">
            <h4>Chceš přinést Zvaž vědu! i do svého města?</h4>
            <a href="/zapojte-se/pridej-se-k-nam" class="secondary-button">Přidej se k nám &rarr;</a>
        </div>
    </section>

    <section class="layout-container" id="actions">
        <div class="layout-content">
            <a href="https://discord.gg/XggNwnz5n8" target="_blank" id="actions-discord">
                <span>Staň se ambasadorem a sleduj náš Discord! <br><br> <i class="fa-brands fa-discord"></i></span>
            </a>
            <a href="https://instagram.com/zvaz.vedu?igshid=MzRlODBiNWFlZA==" target="_blank" id="actions-ig">
                <span>Nejnovější informace sleduj na našem Instagramu! <br><br> <i class="fa-brands fa-instagram"></i></span>
            </a>
        </div>
    </section>
{{end}}
