{{define "styles"}}
    <link rel="stylesheet" href="/css/linktree.css">
{{end}}

{{define "main"}}
    <div class="tile-container">
        <a href="https://www.instagram.com/zvaz.vedu/" class="tile">
            <i class="fa-brands fa-instagram"></i>
            <p>Instagram</p>
        </a>
        <a href="https://discord.gg/XggNwnz5n8" class="tile">
            <i class="fa-brands fa-discord"></i>
            <p>Discord</p>
        </a>
        <a href="https://www.youtube.com/@zvazvedu" class="tile">
            <i class="fa-brands fa-youtube"></i>
            <p>YouTube</p>
        </a>
        <a href="/home" class="tile">
            <i class="fa-solid fa-globe"></i>
            <p>Web</p>
        </a>
        <a href="/o-nas" class="tile">
            <i class="fa-solid fa-info-circle"></i>
            <p>O nás</p>
        </a>
        <a href="/plzen" class="tile">
            <i class="fa-solid fa-city"></i>
            <p>Plzeň</p>
        </a>
        <a href="/brno" class="tile">
            <i class="fa-solid fa-city"></i>
            <p>Brno</p>
        </a>
        <a href="/praha" class="tile">
            <i class="fa-solid fa-city"></i>
            <p>Praha</p>
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSee_d5YIpVJExyH-XeNKfZjdl78TP1sEvC1HF3SbCJakfBDbA/viewform?usp=dialog" class="tile">
            <i class="fa-solid fa-handshake-angle"></i>
            <p>Staň se ambasadorem</p>
        </a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdMSOMIXz7kChsWLGJV2vMOnJaSpSXW9fi7ViNKNH4Og5eRvA/viewform?usp=dialog" class="tile">
            <i class="fa-solid fa-microphone"></i>
            <p>Přednášej u nás</p>
        </a>
        <a href="/kontakt" class="tile">
            <i class="fa-solid fa-users"></i>
            <p>Náš tým</p>
        </a>
    </div>
{{end}}