{{ define "styles" }}
    <link rel="stylesheet" href="/css/linktree.css">
{{ end }}

{{ define "main" }}
    {{ if .Params.heading }}
    <h1>{{ .Params.title }}</h1>
    {{ end }}

    <div class="tile-container">
        {{ range .Params.links }}
            <a href="{{ .url }}" class="tile">
                <i class="{{ .icon }}"></i>
                <p>{{ .text }}</p>
            </a>
        {{ end }}
    </div>
    
    {{ if .Content }}
    <div class="content-wrapper">
        <h2>Aktuální informace</h2>
        {{ .Content }}
    </div>
    {{ end }}
{{ end }}