{{define "styles"}}
    <link rel="stylesheet" href="/css/location.css">
    <link rel="stylesheet" href="/css/location-live.css">
{{end}}

{{define "scripts"}}
    <script src="/js/counters.js" defer></script>
{{end}}

{{define "main"}}
    <header class="layout-container">
        <div class="layout-content">
            <div class="header-body">
                <h1>Zvaž vědu!<br><span>{{.Params.headerTitle}}</span></h1>
                <p class="header-text">
                    {{ if .Params.location }}
                        <span style="margin-right: 1.5rem;">
                            <i class="fa-solid fa-location-dot"></i> {{ .Params.location }}
                        </span>
                    {{ end }}
                            
                    {{ if .Params.eventTime }}
                        <span>
                            <i class="fa-regular fa-calendar"></i> 
                            {{ .Params.date.Format "2. 1. 2006" }}
                        </span>
                    {{ end }}
                </p>
                {{with .Params.registration}}<a href="{{.}}" class="primary-button">Registrace</a>{{end}}
                <!--{{with .Params.registration}}<a href="{{.}}" class="primary-button">Registruj se jako náhradník</a>{{end}}-->
                {{with .Params.joinUs}}<a href="{{.}}" class="primary-button">Zapoj se</a>{{end}}
            </div>
            <div class="header-graphics">
                <img class="header-graphics-photo" src="{{.Params.headerPhoto}}" alt="{{.Params.headerTitle}}">
                <img class="header-graphics-logo" src="/media/imgs/locations/kocka2bila.webp" alt="Zvaž vědu! logo">
            </div>
        </div>
    </header>
    {{if not .Params.liveAction}}
        <section class="layout-container" id="accomplishments">
            <div class="layout-content bento-board">
                <div class="bento-board-item">
                    <h2 class="bento-title">{{.Params.events}}</h2>
                    <p class="bento-text">akce</p>
                </div>
                <div class="bento-board-item">
                    <h2 class="bento-title">{{.Params.participants}}</h2>
                    <p class="bento-text">účastníků</p>
                </div>
                <div class="bento-board-item">
                    <h2 class="bento-title">{{.Params.speakers}}</h2>
                    <p class="bento-text">přednášejících</p>
                </div>
            </div>
        </section>
    {{end}}

    {{if .Params.liveAction}}
        <section class="layout-container" id="accomplishments">
            <div class="layout-content bento-board">
                {{if not .Params.registration}}
                <div class="bento-board-item" style="background-color: var(--accent);">
                    <h2 class="bento-title">Je to za námi!</h2>
                    {{ if .Params.linkToLecturesYouTube}}
                        <a href="{{ .Params.linkToLecturesYouTube}}" class="secondary-button">Záznamy přednášek ></a>
                    {{ else }}
                        <a href="#" class="secondary-button">Záznamy přednášek již brzy!</a>
                    {{ end }}
                </div>
                <div class="bento-board-item" style="background-color: var(--secondary);">
                    <h2 class="bento-title">Zpětná vazba!</h2>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSddafuZsfBfNeLTAEmzRyZLWfmN3ACtNxas_jzyXNVKEeV86Q/viewform?usp=header" class="secondary-button">Feedback ></a>
                </div>
                {{end}}
                {{if .Params.registration}}
                <div class="bento-board-item" style="background-color: var(--accent)">
                    <div id="countdown-display" class="info-block">
                        Načítám čas…
                    </div>
                    <script>
                        const eventTimeStr = {{.Params.eventTime}};
                    </script>
                    <p class="bento-text">zbývá do začátku</p>
                </div>
                <div class="bento-board-item" style="background-color: var(--secondary)">
                    <div id="registration-info" class="info-block" data-sheet-url="{{ .Params.registrationSheet }}" data-max-participants="{{ .Params.maxParticipants }}">
                        <div class="progress-bar-track-pill">
                           <div class="progress-bar-fill-pill"></div>
                           <span class="progress-bar-count-text">Chyba, pracujeme na tom!</span>
                       </div>
                   </div>
                    <p class="bento-text" id="bento-registration-text">účastníků</p>
                </div>
                {{end}}
                <div class="bento-board-item" style="background-color: var(--tertiary);">
                    <h2 class="bento-title">{{.Params.newSpeakers}}</h2>
                    <p class="bento-text">nových přednášejících</p>
                </div>
            </div>
        </section>
        
        {{if .Params.infoVid}}
            <div class="layout-container" id="info-vid">
                <div class="layout-content">
                    <div class="video-wrapper">
                        <iframe src="{{.Params.infoVid}}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        {{end}}

        <section class="layout-container" id="program">
            {{if .Params.program}}
            <div class="layout-content">
                <h2>Program</h2>
                {{.Content}}
            </div>
            {{end}}
            {{if .Params.abstracts}}
                <div class="layout-content link-button">
                    <div class="link-button-item">
                        <h4>Chceš se dozvědět o přednáškách víc?</h4>
                        <a href={{.Params.abstractUrl}} class="secondary-button">Přečti si abstrakt &rarr;</a>
                    </div>
                </div>
            {{end}} 
        </section>

        {{if .Params.importantInfo}}
        <section class="layout-container" id="cta">
                <div class="layout-content">
                    <div class="cta-body" >
                        <h2>{{.Params.importantInfoHeader}}</h2>
                        <div class="important-info">{{.Params.importantInfoText | markdownify}}</div>
                    </div>  
                    <div class="gallery-container">
                        <div class="img-body">
                            {{$dir := printf "static/media/imgs/gallery/plzen24/"}}
                            {{range readDir $dir}}
                                {{if not (eq .Name ".DS_Store")}}
                                    <a href="/media/imgs/gallery/plzen24/{{.Name}}" class="glightbox" data-gallery="gallery1">
                                        <img src="/media/imgs/gallery/plzen24/{{.Name}}">
                                    </a>
                                {{end}}
                            {{end}}
                        </div>
                        <script>
                            window.addEventListener("DOMContentLoaded", () => {
                                function syncHeights() {
                                    const textBody = document.querySelector(".cta-body");
                                    const galleryContainer = document.querySelector(".gallery-container");
                                    const desiredHeight = textBody.offsetHeight
                                    if (textBody && galleryContainer) {
                                        galleryContainer.style.height = `${desiredHeight}px`;
                                    }
                                }
                                
                                syncHeights();
                                
                                window.addEventListener("resize", syncHeights);
                                window.addEventListener("scroll", syncHeights);
                            });

                            // Your GLightbox code is perfect
                            const lightbox = GLightbox({
                                touchNavigation: true,
                                loop: true,
                            });
                        </script>
                    </div>
                </div>
            </section>
        {{end}}
    {{end}}

    {{with .Params.registration}}
        <section class="layout-container" id="cta">
            <div class="layout-content">
                <div class="cta-body">
                    <h2>Na co čekáš?</h2>
                    <p>Nikdy není příliš brzy na to začít. Přijď na Zvaž vědu! a inspiruj se do vlastních začátků!</p>
                    <a href="{{.}}" class="primary-button">Registruj se</a> <!--změnte pak jen na Registrace-->
                </div>  
                <img img class="mark-img" src="" alt="logo">
            </div>
        </section>
    {{end}}
    
    <!-- zobrazení ohlédnutí pokud je víc než 1 event -->
    {{ if .Params.pastActions }}
        <section class="layout-container" id="history">
            <div class="layout-content">
                <h2>Ohlédnutí</h2>
                <div class="history-content">
                    {{ $currentDir := .File.Dir }}
                    {{ range where .Site.RegularPages ".File.Dir" $currentDir }}
                        <a href="{{ .RelPermalink }}" class="history-item">
                            {{ $name := .File.BaseFileName }}
                            {{ $dir := printf "/media/imgs/gallery/%s" $name }}  <!-- aby to nezobrazovalo to v složce info -->
                            {{ $img := printf "%s/main.webp" $dir }}
                            <img src="{{ $img }}" alt="{{ .Title }}">
                            <div class="history-item-body">
                                <strong>{{ .Title }}</strong>
                                <em>{{ .Date.Format "2. 1. 2006" }}</em>
                            </div>
                        </a>
                    {{ end }}
                </div>
            </div>
        </section>
    {{ end }}

    <section class="layout-container" id="team">
        <div class="layout-content">
            <h2>Za {{.Title}} stojí...</h2>
            <div class="team-body">
                {{range .Params.team}}
                    <div class="team-member">
                        <a href="/kontakt/#{{.}}" class="team-member-link">
                            <div class="team-member-photo-container">
                                {{$teamName := split . "-"}}
                                {{$teamName = index $teamName 0}}
                                <img class="team-member-photo" src="/media/imgs/team/{{.}}.webp" alt="{{$teamName}}">
                            </div>
                            <p class="team-member-name">{{$teamName}}</p>
                        </a>
                    </div>
                {{end}}
            </div>
        </div>
    </section>
    {{if .Params.zastita}}
        {{partial "zastita.html" .}}
    {{end}}
    {{partial "partners.html" .}}
{{end}}
