<div class="mobile-off-canvas-menu">
    <div class="menu-header">
         <button class="close-menu-button" aria-label="Close Mobile Menu">
             <i class="fas fa-times"></i> </button>
    </div>
    <div class="menu-links">
        <a  href="/plzen" class="primary-button nav-link">Plzeň</a>
        <a  href="/brno" class="primary-button nav-link">Brno</a>
        <a  href="/praha" class="primary-button nav-link">Praha</a>
        <a  href="/ceske-budejovice" class="primary-button nav-link">České Budějovice</a>
        <a href="/o-nas/recnici" class="nav-link">Řečníci</a>
        <a href="/o-nas" class="nav-link">O Zvaž vědu!</a>
        <a href="/kontakt" class="nav-link">Náš tým</a>
        <a href="/ohlasy" class="nav-link">Ohlasy</a>
        <a href="/partneri" class="nav-link">Partneři</a>
    </div>
    <div class="menu-footer">
        <div class="footer-socials">
             <a href="https://instagram.com/zvaz.vedu?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram"></i></a>
             <a href="https://discord.gg/XggNwnz5n8"><i class="fa-brands fa-discord"></i></a>
             <a href="https://www.youtube.com/@zvazvedu/"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</div>

<div class="mobile-menu-overlay"></div>