<div class="mobile-top-bar">
    <div class="mobile-top-bar-content">
        <a href="/" class="mobile-logo-link">
            <picture>
                <source srcset="/media/imgs/base/logo_zv-white.webp" media="(prefers-color-scheme: dark)">
                <img class="nav-logo" src="/media/imgs/base/logo_zv-black.webp" alt="Zvaž vědu! logo">
            </picture>
        </a>
        <button class="hamburger-button" aria-label="Open Mobile Menu">
            <i class="fas fa-bars"></i> </button>
    </div>
</div>