<div class="layout-container" id="partners">
    <div class="layout-content">
        <strong style="font-size: 1.777rem;">Partneři</strong>
        <div class="partner-body">
            {{/* Procházíme ID partnerů definované v Markdownu (Front Matter) */}}
            {{ range .Params.partners }}
                
                {{ $targetID := . }}

                {{/* Hledáme v seznamu partnerů ten, jehož 'id' odpovídá našemu klíči */}}
                {{/* 'where' vrací pole, takže musíme vzít první prvek pomocí 'index ... 0' */}}
                {{ $partnerData := index (where $.Site.Data.partners "id" "==" $targetID) 0 }}

                {{ if $partnerData }}
                    <a href="{{ $partnerData.link }}" target="_blank" title="{{ $partnerData.name }}" class="partner-link">
                        {{/* Používáme $partnerData.id pro název souboru loga */}}
                        <img class="partner-logo-img" src="/media/imgs/partners/black/{{ $partnerData.id }}.webp" alt="{{ $partnerData.name }}">
                        <img class="partner-logo-img" src="/media/imgs/partners/white/{{ $partnerData.id }}.webp" alt="{{ $partnerData.name }}">
                    </a>
                {{ else }}
                    {{ warnf "Partner ID '%s' nalezen v parametrech stránky, ale chybí v data/partners.yaml" $targetID }}
                {{ end }}

            {{ end }}
        </div>
    </div>
</div>