<div class="layout-container" id="partners">
    <div class="layout-content">
        <strong style="font-size: 1.777rem;">Partneři</strong>
        <div class="partner-body">
            {{/* Loop through the list of keys provided in the front matter */}}
            {{ range .Params.partners }}
                
                {{/* 1. Capture the current key (e.g., "eserocz-cz") */}}
                {{ $key := . }}

                {{/* 2. Look up the details in data/partners.yaml */}}
                {{/* We use 'index' to find the key inside the global site data */}}
                {{ $partnerData := index $.Site.Data.partners $key }}

                {{/* 3. Check if the data exists to prevent errors */}}
                {{ if $partnerData }}
                    <a href="{{ $partnerData.link }}" target="_blank" title="{{ $partnerData.name }}">
                        <img
                            class="partner-logo-img"
                            data-partner-name="{{ $key }}"
                            src="/media/imgs/partners/monochrom/{{ $key }}-monochrom.webp"
                            alt="{{ $partnerData.name }}"
                            style="
                            {{ if (eq $key "senat-cz") }}width: 280px;
                            {{ else if (eq $key "podporatalentu-cz") }}width: 180px;
                            {{ else if (eq $key "kudyznudy-cz") }}width: 150px;
                            {{ else }}width: 130px;{{ end }}
                            ">
                    </a>
                {{ else }}
                    {{/* Optional: Log a warning to your console if a key is missing in the YAML */}}
                    {{ warnf "Partner key '%s' found in page params but missing in data/partners.yaml" $key }}
                {{ end }}

            {{ end }}
        </div>
    </div>
</div>