<section class="layout-container" id="zastita">
    <div class="layout-content">
        <img src="/media/imgs/senat/vystrcil-transparent.webp" alt="Miloše Vystrčila">
        <div class="zastita-content">
            <strong style="font-size:20px">Akce vznikne pod záštitou</strong>
            <div>
                <p>Miloše Vystrčila</p>
                <p>předsedy Senátu Parlamentu České republiky</p>
            </div>
            <a href="/pdf/zastita-vystrcil-zv-2026.pdf" class="secondary-button">Záštita v PDF</a>
        </div>
    </div>
</section>