<section class="layout-container" id="zastita">
    <div class="layout-content">
        <img src="/media/imgs/senat/vystrcil-transparent-sm.webp" srcset="/media/imgs/senat/vystrcil-transparent-sm.webp 600w, /media/imgs/senat/vystrcil-transparent-md.webp 1200w, /media/imgs/senat/vystrcil-transparent-hd.webp 1920w" sizes="(max-width: 800px) 100vw, 30vw" alt="Miloše Vystrčila">
        <div class="zastita-content">
            <strong style="font-size:20px">Akce vznikne pod záštitou</strong>
            <div>
                <p>Miloše Vystrčila</p>
                <p>předsedy Senátu Parlamentu České republiky</p>
            </div>
            <a href="/pdf/zastita-vystrcil-zv-2026.pdf" class="secondary-button"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Záštita</a>
        </div>
    </div>
</section>