<section class="layout-container" id="zastita">
    <div class="layout-content">
        <img src="/media/imgs/senat/vystrcil-transparent.webp" alt="Miloše Vystrčila">
        <div class="zastita-content">
            <strong>Akce vznikla pod záštitou</strong>
            <div>
                <p>Miloše Vystrčila</p>
                <p>předsedy Senátu Parlamentu České Republiky</p>
            </div>
            <a href="/pdf/20250327_Certifikát-1.pdf" class="primary-button">Stáhnout jako PDF</a>
        </div>
    </div>
</section>