<section class="abstract layout-container">
    <div class="layout-content" id="{{.Get "name"}}">
        <div class="abstract-body">
            <h3>{{.Get "name"}}</h3>
            <p>{{.Get "speaker"}}</p>
            <p>{{.Get "abstract"}}</p>
        </div>
        <div class="video-wrapper">
            <iframe src="{{.Get "video"}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-expanded-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</section>