{{ $memberId := .Get "alias"}}

<div class="team-member team-{{.Get "team"}}" id="{{$memberId}}">
    <div class="team-member-photo">
        <img src="{{ .Site.BaseURL }}media/imgs/team/{{ replace (.Get "photo") ".webp" "-sm.webp" }}" srcset="{{ .Site.BaseURL }}media/imgs/team/{{ replace (.Get "photo") ".webp" "-sm.webp" }} 600w, {{ .Site.BaseURL }}media/imgs/team/{{ replace (.Get "photo") ".webp" "-md.webp" }} 1200w, {{ .Site.BaseURL }}media/imgs/team/{{ replace (.Get "photo") ".webp" "-hd.webp" }} 1920w" sizes="150px" alt="{{.Get "name"}}">
    </div>
    <div class="team-member-info">
        <strong>{{.Get "name"}}</strong>
        <p>{{.Get "position"}}</p>
        {{with .Get "mail"}}<p><i class="fa-regular fa-envelope"></i><a href="mailto:{{.}}">{{.}}</a></p>{{end}}
        {{with .Get "web"}}<p><i class="fa-solid fa-globe"></i><a href="https://{{.}}/">{{.}}</a></p>{{end}}
        <div class="team-member-socials">
            {{with .Get "ig"}}<a href="{{.}}"><i class="fa-brands fa-instagram"></i></a>{{end}}
            {{with .Get "linkedin"}}<a href="{{.}}"><i class="fa-brands fa-linkedin"></i></a>{{end}}
        </div>
    </div>
</div>