{{ $speakerId := .Get "name" | urlize}}

<div class="speaker-container {{with .Get "class"}}{{.}}{{end}}" id="{{$speakerId}}" >
    <div class="speaker-photo-container">
        <img class="speaker-photo" src="{{ .Site.BaseURL }}media/imgs/speakers/{{ replaceRE "\\.(webp|jpg|jpeg|png)$" "-sm.webp" (.Get "photo") }}" srcset="{{ .Site.BaseURL }}media/imgs/speakers/{{ replaceRE "\\.(webp|jpg|jpeg|png)$" "-sm.webp" (.Get "photo") }} 600w, {{ .Site.BaseURL }}media/imgs/speakers/{{ replaceRE "\\.(webp|jpg|jpeg|png)$" "-md.webp" (.Get "photo") }} 1200w, {{ .Site.BaseURL }}media/imgs/speakers/{{ replaceRE "\\.(webp|jpg|jpeg|png)$" "-hd.webp" (.Get "photo") }} 1920w" sizes="300px">
    </div>
    <div class="speaker-body">
        <h4 class="speaker-name">{{.Get "name"}}</h4>
        <p class="speaker-text">{{.Get "info"}}</p>
    </div>
</div>