<div class="quote-title">
    <span class="quote-title-highlight highlight-primary">Jsme tým.</span>
</div>

<section class="layout-container">
    <div class="team-body">
        {{ range .Site.Data.team }}
            {{ range .members }}
            <div class="team-member">
                <a href="/kontakt/#{{ .alias }}" class="team-member-link">
                    <div class="team-member-photo-container">
                        <img class="team-member-photo" 
                             src="{{ $.Site.BaseURL }}media/imgs/team/{{ replaceRE "\\.(webp|jpg|jpeg|png)$" "-sm.webp" .photo }}" 
                             srcset="{{ $.Site.BaseURL }}media/imgs/team/{{ replaceRE "\\.(webp|jpg|jpeg|png)$" "-sm.webp" .photo }} 600w, {{ $.Site.BaseURL }}media/imgs/team/{{ replaceRE "\\.(webp|jpg|jpeg|png)$" "-md.webp" .photo }} 1200w, {{ $.Site.BaseURL }}media/imgs/team/{{ replaceRE "\\.(webp|jpg|jpeg|png)$" "-hd.webp" .photo }} 1920w" sizes="150px"
                             alt="{{ .name }}">
                    </div>
                    <p class="team-member-name">{{ .alias | title }}</p>
                </a>
            </div>
            {{ end }}
        {{ end }}
    </div>
</section>