<div class="quote-title">
    <span class="quote-title-highlight highlight-primary">Jsme tým.</span>
</div>

<section class="layout-container">
    <div class="team-body">
        {{ range .Site.Data.team }}
            {{ range .members }}
            <div class="team-member">
                <a href="/kontakt/#{{ .alias }}" class="team-member-link">
                    <div class="team-member-photo-container">
                        <img class="team-member-photo" 
                             src="{{ $.Site.BaseURL }}media/imgs/team/{{ .photo }}" 
                             alt="{{ .name }}">
                    </div>
                    <p class="team-member-name">{{ .alias | title }}</p>
                </a>
            </div>
            {{ end }}
        {{ end }}
    </div>
</section>