<div class="quote-title">
    <span>{{.Get "quoteTitle"}}</span><span class="quote-title-highlight highlight-{{.Get "color"}}">{{.Get "highlight"}}</span>
</div>
<section class="layout-container">
    <div class="layout-content {{with .Get "class"}}{{.}}{{end}}">
        <div class="img-body highlight-{{.Get "color"}}">
            <img src="{{.Get "img"}}">
        </div>
        <div class="text-body">
            {{with .Get "title"}}<h3>{{.}}</h3>{{end}}
            {{$text := .Get "text"}}
            {{$texts := split $text "|"}}
            {{range $texts}}
                <p>{{.}}</p>
            {{end}}
        </div>  
    </div>
</section>