<div class="quote-title">
    <span>{{.Get "quoteTitle"}}</span><span class="quote-title-highlight highlight-{{.Get "color"}}">{{.Get "highlight"}}</span>
</div>
<section class="layout-container">
    <div class="layout-content {{with .Get "class"}}{{.}}{{end}}">
        <div class="img-body highlight-{{.Get "color"}}">
            <img src="{{ replace (.Get "img") ".webp" "-sm.webp" }}" srcset="{{ replace (.Get "img") ".webp" "-sm.webp" }} 600w, {{ replace (.Get "img") ".webp" "-md.webp" }} 1200w, {{ replace (.Get "img") ".webp" "-hd.webp" }} 1920w" sizes="(max-width: 800px) 100vw, 50vw">
        </div>
        <div class="text-body">
            {{with .Get "title"}}<h3>{{.}}</h3>{{end}}
            {{$text := .Get "text"}}
            {{$texts := split $text "|"}}
            {{range $texts}}
                <p>{{.}}</p>
            {{end}}
        </div>  
    </div>
</section>