<div class="program-table-container">
    <table class="program-table two-rooms">
        <thead class="primary-head">
            <tr>
                <th></th>
                <th>Digitárium</th>
                <th>Exploratorium</th>
            </tr>
        </thead>
        <thead class="secondary-head">
            <tr>
                <th>Čas</th>
                <th>Program</th>
                <th>Program</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>9:00 – 9:40</td>
                <td>Slavnostní zahájení</td>
                <td></td>
            </tr>
            <tr>
                <td>10:00 – 10:30</td>
                <td>Přednáška 1</td>
                <td>Přednáška 2</td>
            </tr>
            <tr>
                <td>10:45 – 11:15</td>
                <td>Přednáška 3</td>
                <td>Přednáška 4</td>
            </tr>
            <tr>
                <td>11:30 – 12:00</td>
                <td>Přednáška 5</td>
                <td>Přednáška 6</td>
            </tr>
            <tr class="program-table-breaker">
                <td>12:00 – 12:30</td>
                <td colspan="2">Pauza na občerstvení</td>
            </tr>
            <tr>
                <td>12:30 – 13:00</td>
                <td>Přednáška 7</td>
                <td>Přednáška 8</td>
            </tr>
            <tr>
                <td>13:15 – 13:45</td>
                <td>Přednáška 9</td>
                <td>Přednáška 10</td>
            </tr>
            <tr>
                <td>14:00 – 14:20</td>
                <td>Ukončení, vyhlášení soutěže</td>
                <td></td>
            </tr>
            <tr class="program-table-breaker">
                <td>14:20 – 15:00</td>
                <td colspan="2">Neformální diskuse, občerstvení</td>
            </tr>
        </tbody>
    </table>
</div>
