<div class="program-table-container">
    <table class="program-table two-rooms">
        <colgroup>
            <col style="width: 10%">
            <col style="width: 15%">
            <col style="width: 25%">
            <col style="width: 15%">
            <col style="width: 35%">
        </colgroup>
        <thead class="primary-head">
            <tr>
                <th></th> <th colspan="2">Digitárium</th>
                <th colspan="2">Exploratorium</th>
            </tr>
        </thead>
        <thead class="secondary-head">
            <tr>
                <th>Čas</th>
                <th>Přednášející</th>
                <th>Téma</th>
                <th>Přednášející</th>
                <th>Téma</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>9:00­­ — 9:40</td>
                <td>Jan Herzig, Lucie Kaiserová</td>
                <td>Slavnostní zahájení</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>10:00­­ — 10:30</td>
                <td>Eduard Plic</td>
                <td>Se skvrnami až do Indie</td>
                <td>Nela Bartoníčková</td>
                <td>Život zachraňující pěny</td>
            </tr>
            <tr>
                <td>10:45­­ — 11:15</td>
                <td>Ondřej Přibyl</td>
                <td>Svědectví rybích šupin</td>
                <td>Šimon Kratochvíl</td>
                <td>Když atomy tančí</td>
            </tr>
            <tr>
                <td>11:30­­ — 12:00</td>
                <td>Monika Dlouhá</td>
                <td>Když proteiny září</td>
                <td>Tomáš Pazourek</td>
                <td>Dlaždíči a odmocniny z jedné</td>
            </tr>
            <tr class="program-table-breaker">
                <td>12:00­­ — 12:30</td>
                <td colspan="4">Pauza na občerstvení</td>
            </tr>
            <tr>
                <td>12:30­­ — 13:00</td>
                <td>Alex Faivre</td>
                <td>Na stopě kosmického smetí</td>
                <td>Terezie Růžičková</td>
                <td>Když mozek slyší za uši</td>
            </tr>
            <tr>
                <td>13:15­­ — 13:45</td>
                <td>Jan Švec</td>
                <td>Faradayův skalpel</td>
                <td>Jan Sebastian Soběslavský</td>
                <td>Co ví tvůj elektroměr?</td>
            </tr>
            <tr>
                <td>14:00­­ — 14:20</td>
                <td>Jan Herzig, Lucie Kaiserová</td>
                <td>Ukončení, vyhlášení soutěže</td>
                <td colspan="2"></td>
            </tr>
            <tr class="program-table-breaker">
                <td>14:20­­ — 15:00</td>
                <td colspan="4">Neformální diskuse, občerstvení</td>
            </tr>
        </tbody>
    </table>
</div>
