<div class="program-table-container">
    <table class="program-table one-room">
        <thead class="primary-head">
            <tr>
                <th colspan="3">Digitárium</th>
            </tr>
        </thead>
        <thead class="secondary-head">
            <tr>
                <th>Čas</th>
                <th>Přednáška</th>
                <th>Přednášející</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>14:00 – 14:10</td>
                <td>Zahájení</td>
                <td>Petr Geršl</td>
            </tr>
            <tr>
                <td>14:40 – 15:10</td>
                <td>Výroba proteinů: mission (im)possible?</td>
                <td>Anna Černá</td>
            </tr>
            <tr>
                <td>17:00 – 17:30</td>
                <td>Jak se zapojit do vědy už na střední?</td>
                <td>Tomáš Datinský</td>
            </tr>
            <tr>
                <td>15:10 – 15:40</td>
                <td>Prezentace partnerů</td>
                <td>VUT, MendelU, MUNI, JIC, ESERO</td>
            </tr>
            <tr class="program-table-breaker">
                <td colspan="3">Networking</td>
            </tr>
            <tr>
                <td>16:30 – 17:00</td>
                <td>Ze školní lavice před porotce z NASA (a vlastní družici na raketě SpaceX)</td>
                <td>Simon Klinga</td>
            </tr>
            <tr>
                <td>14:10 – 14:40</td>
                <td>Jak souvisí informatika s hudbou?</td>
                <td>Michal Křipač</td>
            </tr>
            <tr>
                <td>16:00 – 16:30</td>
                <td>Jak mě robotika dostala do světa?</td>
                <td>Sebastian Matoušek</td>
            </tr>
        </tbody>
    </table>
</div>