<div class="program-table-container">
    <table class="program-table">
        <thead class="secondary-head">
            <tr>
                <th style="width: 100px; white-space: nowrap">Čas</th>
                <th>Velký sál</th>
                <th>Malý sál</th>
            </tr>
        </thead>
        <tbody>
            <tr class="program-table-breaker">
                <td>9:00 – 9:30</td>
                <td colspan="2"><strong>Matyáš Matta, Jan Herzig</strong> – Slavnostní zahájení</td>
            </tr>
            <tr>
                <td>9:45 – 10:15</td>
                <td><strong>Jakub Holeček</strong> – Jak vypadají buňky ve skutečnosti?</td>
                <td><strong>Jáchym Buben</strong> – Budoucnost fúzní energie</td>
            </tr>
            <tr>
                <td>10:30 – 11:00</td>
                <td><strong>Julie Beritová</strong> – Generace Artemis</td>
                <td><strong>Markéta Zmátlová</strong> – Co s čistírenskými kaly?</td>
            </tr>
            <tr>
                <td>11:15 – 11:45</td>
                <td><strong>Erik Sedláček</strong> – Past dopaminu</td>
                <td><strong>Jan Toman a Jaroslav Kudrna</strong> – Jak ochočit exoskeleton?</td>
            </tr>
            <tr class="program-table-breaker">
                <td>11:45 – 12:15</td>
                <td colspan="2">Pauza na občerstvení</td>
            </tr>
            <tr>
                <td>12:15 – 12:45</td>
                <td><strong>Ludmila Kozlová</strong> – Klimatická změna a co my</td>
                <td><strong>Štěpán Latislav</strong> – Dron v interiéru bez GPS?</td>
            </tr>
            <tr>
                <td>13:00 – 13:30</td>
                <td><strong>Barbora Skývová</strong> – Léčba bez důkazů</td>
                <td><strong>Eduard Plic</strong> – Tajemství slunečních skvrn</td>
            </tr>
            <tr class="program-table-breaker">
                <td>13:45 – 14:15</td>
                <td colspan="2"><strong>Matyáš Matta, Jan Herzig</strong> – Ukončení, vyhlášení soutěže</td>
            </tr>
            <tr class="program-table-breaker">
                <td>14:15 – 15:00</td>
                <td colspan="2">Neformální diskuse, občerstvení</td>
            </tr>
        </tbody>
    </table>
</div>