<div class="program-table-container">
    <table class="program-table two-rooms">
        <thead class="primary-head">
            <tr>
                <th colspan="3">Velký sál</th>
                <th colspan="3">Malý sál</th>
            </tr>
        </thead>
        <thead class="secondary-head">
            <tr>
                <th>Čas</th>
                <th>Přednáška</th>
                <th>Přednášející</th>
                <th>Čas</th>
                <th>Přednáška</th>
                <th>Přednášející</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>9:00 – 9:40</td>
                <td>Slavnostní zahájení</td>
                <td>Matyáš Matta, Jan Herzig</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>9:45 – 10:15</td>
                <td>Chemie</td>
                <td>Anežká Ságnerová a spol.</td>
                <td>9:45 – 10:15</td>
                <td>Středoškolská odborná činnost</td>
                <td>Jiří Lüftner</td>
            </tr>
            <tr>
                <td rowspan="2">10:20 – 11:05</td>
                <td rowspan="2">Astronomie</td>
                <td rowspan="2">Jan Herzig</td>
                <td>10:20 – 10:30</td>
                <td>Programování</td>
                <td>Vít Šilhavý</td>
            </tr>
            <tr>
                <td>10:35 – 11:05</td>
                <td>Matematika</td>
                <td>Miroslav Holeček</td>
            </tr>
            <tr>
                <td>11:10 – 11:40</td>
                <td>Fyzika</td>
                <td>Matyáš Matta</td>
                <td>11:10 – 11:40</td>
                <td>Talnet</td>
                <td>Pavel Linka</td>
            </tr>
            <tr class="program-table-breaker">
                <td colspan="6">Oběd</td>
            </tr>
            <tr>
                <td>12:05 – 12:30</td>
                <td>Expedice Mars</td>
                <td>Anna Krebsová</td>
                <td>12:05 – 12:30</td>
                <td>Týden vědy na Jaderce</td>
                <td>Michal Helma</td>
            </tr>
            <tr>
                <td>12:35 – 12:50</td>
                <td>AstroPi</td>
                <td>Matěj Šicner</td>
                <td>12:35 – 12:50</td>
                <td>PLNOC</td>
                <td>Jakub Štěpánek</td>
            </tr>
            <tr>
                <td rowspan="2">12:55 – 13:35</td>
                <td rowspan="2">Biologie</td>
                <td rowspan="2">Šimon Vlach</td>
                <td>12:55 – 13:10</td>
                <td>ScienceFEL</td>
                <td>Julie Hladíková</td>
            </tr>
            <tr>
                <td>13:15 – 13:35</td>
                <td>Juniorská vědecká konference</td>
                <td>Pavel Chaloupka, Miroslav Chaloupka</td>
            </tr>
            <tr>
                <td>13:40 – 14:00</td>
                <td>Logická olympiáda</td>
                <td>Eduard Plic</td>
                <td>13:40 – 14:00</td>
                <td>Otevřená věda</td>
                <td>Ondřej Tichý</td>
            </tr>
        </tbody>
    </table>
</div>