<div class="program-table-container">
    <table class="program-table two-rooms">
        <thead class="primary-head">
            <tr>
                <th colspan="3">Velký sál</th>
                <th colspan="3">Malý sál</th>
            </tr>
        </thead>
        <thead class="secondary-head">
            <tr>
                <th>Čas</th>
                <th>Přednáška</th>
                <th>Přednášející</th>
                <th>Čas</th>
                <th>Přednáška</th>
                <th>Přednášející</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>9:00 – 9:40</td>
                <td>Slavnostní zahájení</td>
                <td>Matyáš Matta, Jan Herzig</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td>9:50 – 10:20</td>
                <td>LASAR: Ze střední školy až na oběžnou dráhu Země</td>
                <td>Anna Krebsová, Richard Nikel, Boris Brovkin, Viktor Adámek</td>
                <td>9:50 – 10:20</td>
                <td>Přenosná vodní elektrárna: Naše cesta k čisté energii</td>
                <td>Pavel Chaloupka, Miroslav Chaloupka</td>
            </tr>
            <tr>
                <td>10:30 – 11:00</td>
                <td>Tajemství hvězd: Nebezpečí i naděje pro budoucnost lidstva</td>
                <td>Jan Herzig</td>
                <td>10:30 – 11:00</td>
                <td>Budoucnost strojařiny</td>
                <td>Jiří Lüftner</td>
            </tr>
            <tr class="program-table-breaker">
                <td colspan="6">Svačinová pauza, stánky</td>
            </tr>
            <tr>
                <td>11:30 – 12:00</td>
                <td>Programování pro vesmír: Měření mraků z paluby ISS</td>
                <td>Jan Spratek, David Němec, Eduard Plic, Tomáš Rajchman</td>
                <td>11:30 – 12:00</td>
                <td>Superhrdinové biochemie: CRISPR/Cas9 a AI</td>
                <td>Pavel Jan Linka</td>
            </tr>
            <tr>
                <td>12:10 – 12:40</td>
                <td>Brigáda ve výzkumném centru NTC: Grafen jako materiál budoucnosti</td>
                <td>Matyáš Matta</td>
                <td>12:10 – 12:40</td>
                <td>Otevřená věda: Nastartuj svoji vědeckou kariéru už na střední!</td>
                <td>Tereza Jelínková</td>
            </tr>
            <tr>
                <td>12:50 – 13:20</td>
                <td>Síla a moc aplikované matematiky</td>
                <td>Nikolas Pippal</td>
                <td>12:50 – 13:20</td>
                <td>Život mezi DNA a gymplem: Jak na kariéru vědce už na střední</td>
                <td>Soňa Kleinerová</td>
            </tr>
            <tr>
                <td>13:30 – 14:00</td>
                <td>Kvantové technologie - dveře do světa nevídaných možností</td>
                <td>Matěj Šicner</td>
                <td>13:30 – 14:00</td>
                <td>Matematika v reálném životě</td>
                <td>Kristýna Mičková</td>
            </tr>
            <tr class="program-table-breaker">
                <td colspan="6">Obědová pauza, exkurze</td>
            </tr>
        </tbody>
    </table>
</div>