<div class="program-table-container">
    <table class="program-table">
        <thead class="secondary-head">
            <tr>
                <th style="width: 80px; white-space: nowrap">Čas</th>
                <th>Jednací sál</th>
                <th>Frýdlantský salónek</th>
                <th>Jičínský salónek</th>
            </tr>
        </thead>
        <tbody>
            <tr class="program-table-breaker">
                <td>7:30 – 9:00</td>
                <td colspan="3">Příchod, registrace</td>
            </tr>
            <tr class="program-table-breaker">
                <td>9:00 – 9:40</td>
                <td colspan="3">Slavnostní zahájení</td>
            </tr>
            <tr>
                <td>10:00 – 10:30</td>
                <td>1. přednáška</td>
                <td>2. přednáška</td>
                <td>1. workshop</td>
            </tr>
            <tr>
                <td>10:50 – 11:20</td>
                <td>3. přednáška</td>
                <td>4. přednáška</td>
                <td>2. workshop</td>
            </tr>
            <tr class="program-table-breaker">
                <td>11:20 – 11:50</td>
                <td colspan="3">Pauza na občerstvení</td>
            </tr>
            <tr>
                <td>11:50 – 12:20</td>
                <td>5. přednáška</td>
                <td>6. přednáška</td>
                <td>3. workshop</td>
            </tr>
            <tr>
                <td>12:40 – 13:10</td>
                <td>7. přednáška</td>
                <td>8. přednáška</td>
                <td>4. workshop</td>
            </tr>
            <tr>
                <td>13:30 – 14:00</td>
                <td>9. přednáška</td>
                <td>10. přednáška</td>
                <td>5. workshop</td>
            </tr>
            <tr class="program-table-breaker">
                <td>14:10 – 14:30</td>
                <td colspan="3">Ukončení akce</td>
            </tr>
            <tr class="program-table-breaker">
                <td>14:30 – 15:00</td>
                <td colspan="3">Neformální diskuse, odchod</td>
            </tr>
        </tbody>
    </table>
</div>