<div class="program-table-container">
    <table class="program-table">
        <thead class="secondary-head">
            <tr>
                <th style="width: 100px; white-space: nowrap">Čas</th>
                <th>Jednací sál</th>
                <th>Frýdlantský salónek</th>
                <th>Jičínský salónek</th>
            </tr>
        </thead>
        <tbody>
            <tr class="program-table-breaker">
                <td>7:30 – 9:00</td>
                <td colspan="3">Příchod, registrace</td>
            </tr>
            <tr class="program-table-breaker">
                <td>9:00 – 9:40</td>
                <td colspan="3"><strong>Lucie Kaiserová, Jan Herzig</strong> – Slavnostní zahájení</td>
            </tr>
            <tr>
                <td>10:00 – 10:30</td>
                <td><strong>Nikolas Pippal</strong> – Od výzkumu ke startupu</td>
                <td><strong>Adéla Podholová</strong> – Jak muciny zadržují léčiva</td>
                <td><strong>Pavel Jan Linka</strong> – Behind The Scenes: Věda</td>
            </tr>
            <tr>
                <td>10:50 – 11:20</td>
                <td><strong>Lucie Ovčačíková</strong> – Když se cyklus uzavře</td>
                <td><strong>Jonathan Skrla</strong> – Na cestě ke kvantovým počítačům</td>
                <td><strong>Antonín Svoboda, Metoděj Svoboda</strong> – Ať to zní dobře</td>
            </tr>
            <tr class="program-table-breaker">
                <td>11:20 – 11:50</td>
                <td colspan="3">Pauza na občerstvení</td>
            </tr>
            <tr>
                <td>11:50 – 12:20</td>
                <td><strong>Daniel Biskup, Jonáš Neruda</strong> – Česká cesta za Artemis II</td>
                <td><strong>Daniel Jokl</strong> – Horor jménem lobotomie</td>
                <td><strong>Pavla Hubálková, Tereza Jelínková</strong> – Chci být vědkyní: A co dál?</td>
            </tr>
            <tr>
                <td>12:40 – 13:10</td>
                <td><strong>Kristýna Říhová</strong> – Z ČR k oceánu: projekt Fluoronet</td>
                <td><strong>Matěj Dvořák</strong> – Cesta za pochopením vesmíru</td>
                <td><strong>Matěj Šicner, Anna Černá, Tomáš Pazourek</strong> – SkOČ do SOČ!</td>
            </tr>
            <tr>
                <td>13:30 – 14:00</td>
                <td><strong>Leonard Walletzký</strong> – Nemusíš v tom mít jasno!</td>
                <td><strong>Jan Herzig</strong> – Univerzální klíč astrofyziky</td>
                <td><strong>Matyáš Matta, Ondřej Heigl</strong> – Kosmické technologie v praxi</td>
            </tr>
            <tr class="program-table-breaker">
                <td>14:10 – 14:30</td>
                <td colspan="3"><strong>Lucie Kaiserová, Jan Herzig</strong> – Slavnostní ukončení</td>
            </tr>
            <tr class="program-table-breaker">
                <td>14:30 – 15:00</td>
                <td colspan="3">Neformální diskuse, občerstvení</td>
            </tr>
        </tbody>
    </table>
</div>